@model IEnumerable<Audaz.MVC.Compras.Models.Pedido>

@{
    ViewBag.Title = "Lista de pedidos";
}

<h2>Lista de pedidos</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
